$font-family: "Inter", sans-serif;

$white: #fafafa;

$placeholder-light: #70707b;
$placeholder-dark: #3f3f46;

$gray-light: #d1d1d6;
$gray-dark: #1a1a1e;
$border-dark: #51525c;

$bg-dark: #131316;

l html {
  font-size: 62.5%;
}
