.input-label {
  font-family: $font-family;
  font-weight: 500;
  color: $gray-dark;
  transition: all 0.3s ease;
  white-space: normal;
  word-wrap: break-word;

  // SIZE //
  &--extra-small {
    font-size: 1.2rem;
    line-height: 167%;
  }

  &--medium {
    font-size: 1.2rem;
    line-height: 167%;
  }

  &--large {
    font-size: 1.4rem;
    line-height: 171%;
  }

  &--extra-large {
    font-size: 1.4rem;
    line-height: 171%;
  }

  // DARK MODE //

  &--dark {
    color: $white;
  }

  // DISABLED MODE //

  &--disabled {
    cursor: not-allowed;
    color: $placeholder-light;
  }

  // POSITION //

  &--top {
    display: block;
  }

  &--side {
    display: inline-block;
    margin-right: 1rem;
  }

  // REQUIRED, OPTIONAL AND ASTERISK //
  &--asterisk {
    color: $asterisk;
  }
}
