.input-label {
  font-family: $font-family;
  font-weight: 500;
  color: $gray-dark;
  transition: all 0.3s ease;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: 0.4rem;

  // SIZE //
  &--extra-small {
    font-size: 1.2rem;
    line-height: 167%;
  }

  &--medium {
    font-size: 1.2rem;
    line-height: 167%;
  }

  &--large {
    font-size: 1.4rem;
    line-height: 171%;
  }

  &--extra-large {
    font-size: 1.4rem;
    line-height: 171%;
  }

  // DARK MODE //

  &--dark {
    color: $white;
  }

  // DISABLED MODE //

  &--disabled {
    cursor: not-allowed;
    color: $placeholder-light;
  }

  // ASTERISK //
  &--asterisk {
    color: $asterisk;
    margin-left: 0.2rem;
  }

  &--optional {
    margin-left: 0.2rem;
  }

  &--required {
    margin-left: 0.2rem;
  }

  // CHILDREN //

  &--children {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  // POSITION //

  &--top {
    display: flex;
    flex-wrap: wrap;
  }

  &--side {
    display: inline-flex;
    margin-right: 1rem;
  }
}
