.input-group {
  max-width: 18rem;
  white-space: nowrap;

  &--iconBefore {
    position: absolute;
    left: 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
    fill: $icon;
  }

  &--iconAfter {
    width: 1.6rem;
    height: 1.6rem;
    fill: $icon;
  }

  &--shortkey {
    width: 3.2rem;
    height: 2rem;
    fill: $icon;
  }
}
