.input-group {
  max-width: 19rem;
  white-space: nowrap;

  &--iconBefore {
    position: absolute;
    right: 24.5rem;
    width: 1.6rem;
    height: 1.6rem;
    stroke: $icon;
    cursor: pointer;

    &--error {
      stroke: $asterisk;
    }
  }

  &--iconAfter {
    width: 1.6rem;
    height: 1.6rem;
    stroke: $icon;
    cursor: pointer;

    &--error {
      stroke: $asterisk;
    }
  }

  &--shortkey {
    width: 3.2rem;
    height: 2rem;
    cursor: pointer;
  }
}
