.input-group {
  max-width: 18rem;
  white-space: nowrap;

  &--label-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &--iconBefore {
    position: absolute;
    right: 15rem;
    width: 1.6rem;
    height: 1.6rem;
    stroke: $icon;

    &--error {
      stroke: $asterisk;
    }
  }

  &--iconAfter {
    width: 1.6rem;
    height: 1.6rem;
    stroke: $icon;

    &--error {
      stroke: $asterisk;
    }
  }

  &--shortkey {
    width: 3.2rem;
    height: 2rem;
  }
}
